#
# Copyright (c) 2019 - 2020 Comdigis, Argentina
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.

# Ignores macos filesystem attributes
.DS_Store

# Ignores swift package manager folder
/.swiftpm

# Ignores swift package manager build folder
/.build

# Ignores swift package manager dependency checkout folder
/Packages

# Ignores any xcodeproj present in the root folder
/*.xcodeproj

# Ignores any xcode generate user data
xcuserdata/

# Ignores xcode xcworkspacedata
*.xcworkspacedata

# Ignores xcode xcuserstate
*.xcuserstate

# Ignores xcode xcscheme
*.xcscheme

# Ignores xcode xcschememanagement plist file
xcschememanagement.plist

# Ignores any swift package manager generate package resolved
Package.resolved
